@use '../utilities' as *;

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');

html {
    font-size: 12px;
}

body {
    min-height: 100vh;
    font-family: $ff-primary;
}