/* Header nav animations */
@keyframes navin {
    0% {
        top: -108px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

@keyframes navout {
    0% {
        top: 0;
        opacity: 1;
    }
    100% {
        top: -108px;
        opacity: 0;
    }
}

/* .kv__hero-bg animations */
@keyframes bgIn {
    0% {
        opacity: 0;
        clip-path: ellipse(0 100% at 0% 50%);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        clip-path: ellipse(110% 150% at 0% 50%);
    }
}

@keyframes bgOut {
    0% {
        opacity: 0;
        clip-path: ellipse(0 100% at 100% 50%);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        clip-path: ellipse(110% 150% at 100% 50%);
    }
}

/* .kv__intro elements animations */
@keyframes slideTop {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    50% {
        transform: translateY(-50px);
        opacity :0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideTopDesktop {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    50% {
        transform: translateY(-100px);
        opacity :0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    50% {
        transform: translateX(50px);
        opacity :0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideRightDesktop {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    50% {
        transform: translateX(100px);
        opacity :0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}