@use '../utilities' as *;

.kv {
    $root: &;

    &__container {
        display: flex;
        flex-flow: column;
    }

    &__hero {
        position: relative;
        height: 360px;
    }

    &__hero-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        &--1 {
            background-image: url('../img/mobile-image-hero-1.jpg');
        }

        &--2 {
            background-image: url('../img/mobile-image-hero-2.jpg');
        }

        &--3 {
            background-image: url('../img/mobile-image-hero-3.jpg');
        }
    }

    &__hero-controls {
        position: absolute;
        display: flex;
        bottom: 0;
        right: 0;
    }

    &__hero-controls-btn {
        width: 56px;
        height: 56px;
        background: $c-black;
        border: none;
        color: white;
        font-size: 30px;
        padding: 0;
        cursor: pointer;
    }

    &__intro {
        padding: 72px 32px 64px 32px;
    }

    &__intro-heading {
        font-size: 2.33rem;
        font-weight: 600;
        letter-spacing: -1px;
        margin-bottom: 16px;
    }

    &__intro-text {
        color: $c-gray-dark;
        line-height: 1.66rem;
        font-size: 1rem;
        margin-bottom: 40px;
    }

    &__intro-link {
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 10px;
        color: $c-black;
    }

    &__intro-link-icon {
        margin-left: 24px;
    }
}